# Homework 2

### Name: Emma Virnelli
### Collaborator:



DATA 201

Fall 2024

Tufts University

### Packages

In [4]:
#Code
import numpy as np

## 1. Numpy Array Operations

### Objective:

#### - To master the creation and manipulation of Numpy arrays and understand array operations.

### Instructions:

#### 1. Create Arrays:
#### -Create two Numpy arrays with 5 elements each.
#### 2. Perform Operations:
#### -Perform element-wise addition, subtraction, multiplication, and division on the created arrays.
#### 3. Print Result

In [8]:
#Code

#Create Arrays
x = np.array([2, 4, 5, 5, 6])
y = np.array([5, 6, 7, 8, 9])

#Perform Operations
sum = y + x
sub = y - x
mult = y * x
divide = y / x

#Print Result
print("Addition:", sum)
print("Subtraction:", sub)
print("Multiplication:", mult)
print("Division:", divide)

Addition: [ 7 10 12 13 15]
Subtraction: [3 2 2 3 3]
Multiplication: [10 24 35 40 54]
Division: [2.5 1.5 1.4 1.6 1.5]

## 2. Pandas Data Manipulation

### Objective:

#### - To refine skills in manipulating DataFrame objects, handling indices, and applying functions to columns in Pandas.

### Instructions:

#### 1. Load Dataset:
#### - Load the Iris dataset into a DataFrame. (https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data)
#### - The column names are 'sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'
#### 2. Apply Functions:
#### - Create a new column, sepal_ratio, by applying a lambda function that divides sepal_length by sepal_width.
#### 3. Print Result (.head(5))

In [12]:
#Code
import pandas as pd

#Load Dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data'
columns=(['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species'])
iris = pd.read_csv(url, names=columns)

#Apply Functions
iris['sepal_ratio'] = iris.apply(lambda x: x['sepal_length'] / x['sepal_width'], axis = 1)

#Print Result
print(iris.head(5))

   sepal_length  sepal_width  petal_length  petal_width      species  \
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

   sepal_ratio
0     1.457143
1     1.633333
2     1.468750
3     1.483871
4     1.388889

## 3.  Advanced Data Aggregation with Pandas

### Objective:

#### - To gain proficiency in using advanced data aggregation methods in Pandas, such as groupby and pivot_table.

### Instructions:

#### 1. Load Dataset:
#### - Load the Gapminder dataset. (https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv)
#### 2. Groupby Operations:
#### - Use groupby to find the average life expectancy and GDP per capita for each continent for the year 2007.
#### 3. Advanced Pivot Table:
#### - Create a pivot table with continent as an index, year as columns, and fill values with the mean of gdpPercap.
#### 4. Print Results (.head(5))

In [15]:
#Code
import pandas as pd

#Groupby Operations
gap_dataset = pd.read_csv('https://raw.githubusercontent.com/resbaz/r-novice-gapminder-files/master/data/gapminder-FiveYearData.csv')
gap_2007 = gap_dataset[gap_dataset['year'] == 2007]
grouped_gap = gap_2007.groupby('continent').agg(avg_lifeExp=('lifeExp', 'mean'), avg_gdpPercap=('gdpPercap', 'mean')).reset_index()

print("Grouped Data:")
print(grouped_gap.head(5))

Grouped Data:
  continent  avg_lifeExp  avg_gdpPercap
0    Africa    54.806038    3089.032605
1  Americas    73.608120   11003.031625
2      Asia    70.728485   12473.026870
3    Europe    77.648600   25054.481636
4   Oceania    80.719500   29810.188275

In [17]:
# Advanced Pivot Table:
pivot_table_gdp = gap_dataset.pivot_table(index='continent',columns='year',values='gdpPercap',aggfunc='mean')

#Print Results 
print("Pivot Table:")
print(pivot_table_gdp.head(5))

Pivot Table:
year               1952          1957          1962          1967  \
continent
Africa      1252.572466   1385.236062   1598.078825   2050.363801
Americas    4079.062552   4616.043733   4901.541870   5668.253496
Asia        5195.484004   5787.732940   5729.369625   5971.173374
Europe      5661.057435   6963.012816   8365.486814  10143.823757
Oceania    10298.085650  11598.522455  12696.452430  14495.021790

year               1972          1977          1982          1987  \
continent
Africa      2339.615674   2585.938508   2481.592960   2282.668991
Americas    6491.334139   7352.007126   7506.737088   7793.400261
Asia        8187.468699   7791.314020   7434.135157   7608.226508
Europe     12479.575246  14283.979110  15617.896551  17214.310727
Oceania    16417.333380  17283.957605  18554.709840  20448.040160

year               1992          1997          2002          2007
continent
Africa      2281.810333   2378.759555   2599.385159   3089.032605
Americas    8044.934406   8889.300863   9287.677107  11003.031625
Asia        8639.690248   9834.093295  10174.090397  12473.026870
Europe     17061.568084  19076.781802  21711.732422  25054.481636
Oceania    20894.045885  24024.175170  26938.778040  29810.188275

## 5. Titanic

### Objective:

#### - To understand advanced grouping, filtering and aggregation methods using Pandas.

#### Instructions:

#### 1. Load the Dataset:
#### - Load the Titanic dataset. (https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv)
#### 2. Group by Class and Gender:
#### - Group the Titanic dataset by Pclass and Sex and compute the average age within each group.
#### 3. Filtering Using Lambda:
#### - Filter the dataset to include only those rows where the number of Siblings/Spouses Aboard is greater than the number of Parents/Children Aboard.
#### 4. Print Results (.head(5))

In [22]:
#Code

#Load the Dataset
titanic_dataset = pd.read_csv('https://web.stanford.edu/class/archive/cs/cs109/cs109.1166/stuff/titanic.csv')

#Group by Class and Gender
averaged_data = titanic_dataset.groupby(['Pclass', 'Sex'])[['Age']].mean()

print("Averaged Data:")
print(averaged_data)

Averaged Data:
                     Age
Pclass Sex
1      female  35.255319
       male    41.511639
2      female  28.980263
       male    30.493796
3      female  22.135417
       male    26.470612

In [23]:
#Filtering Using Lambda
filter = lambda x, y: x > y
df = titanic_dataset[filter(titanic_dataset['Siblings/Spouses Aboard'], titanic_dataset['Parents/Children Aboard'])]

#Print Results
print('Filtered Data:')
print(df.head(5))

Filtered Data:
   Survived  Pclass                                               Name  \
0         0       3                             Mr. Owen Harris Braund
1         1       1  Mrs. John Bradley (Florence Briggs Thayer) Cum...
3         1       1        Mrs. Jacques Heath (Lily May Peel) Futrelle
7         0       3                      Master. Gosta Leonard Palsson
9         1       2                 Mrs. Nicholas (Adele Achem) Nasser

      Sex   Age  Siblings/Spouses Aboard  Parents/Children Aboard     Fare
0    male  22.0                        1                        0   7.2500
1  female  38.0                        1                        0  71.2833
3  female  35.0                        1                        0  53.1000
7    male   2.0                        3                        1  21.0750
9  female  14.0                        1                        0  30.0708

## 6. Comprehensive Data Analysis with Pandas

### Objective:

#### - To synthesize knowledge of Pandas, Numpy, data cleaning, manipulation, and aggregation to perform comprehensive analysis on a real-world dataset.

### Instructions:

#### 1. Load the Auto MPG Dataset (https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original):
#### - Download the Auto MPG dataset and load it into a DataFrame.
#### - Use appropriate column names based on the dataset documentation.
#### 2. Data Cleaning:
#### - Identify and drop any missing or anomalous values.
#### 3. Data Transformation and Feature Engineering:
#### - Compute the Displacement-to-Weight ratio and add it as a new feature in the DataFrame.
#### - Extract the car Brand from the car name column and create a new column, Brand.
#### 4. Data Aggregation:
#### - Group the dataset by Brand and model year and calculate the average mpg for each group.
#### - Create a pivot table to illustrate the average mpg of cars for each combination of Brand and model year.
#### 5. Advanced Filtering and Sorting:
#### - Identify the top 5 cars with the highest mpg within each model year.
#### - Create a new DataFrame containing only these top 5 cars per model year.
#### 6. Print Results (.head(5))

In [28]:
#Code

#Load the Auto MPG Dataset
import pandas as pd

url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data-original'
columns = ['MPG', 'Cylinders', 'Displacement', 'Horsepower', 'Weight', 'Acceleration', 'Model Year', 'Origin', 'Car Name']
auto_dataset = pd.read_csv(url, names=columns, sep = r'\s+', na_values='?')

#Data Cleaning
cleaned_dataset = auto_dataset.dropna()  

print('Cleaned Data:')
print(cleaned_dataset.head())

#Data Transformation
cleaned_dataset.loc[:,'Displacement-to-Weight ratio'] = cleaned_dataset['Displacement'] / cleaned_dataset['Weight']
cleaned_dataset.loc[:,'Brand'] = cleaned_dataset['Car Name'].str.split().str[0]

#Data Aggregation
brand_year = cleaned_dataset.groupby(['Model Year', 'Brand'])['MPG'].mean().reset_index()
pivot_table = brand_year.pivot_table(index='Brand', columns='Model Year', values='MPG', aggfunc='mean')

print("Pivot Table:")
print(pivot_table.head())

#Advanced Filtering and Sorting
top_cars = brand_year.groupby('Model Year').apply(lambda x: x.nlargest(5, 'MPG')).reset_index(drop=True)


print("Top 5 Cars per Year:")
print(top_cars.head())

Cleaned Data:
    MPG  Cylinders  Displacement  Horsepower  Weight  Acceleration  \
0  18.0        8.0         307.0       130.0  3504.0          12.0
1  15.0        8.0         350.0       165.0  3693.0          11.5
2  18.0        8.0         318.0       150.0  3436.0          11.0
3  16.0        8.0         304.0       150.0  3433.0          12.0
4  17.0        8.0         302.0       140.0  3449.0          10.5

   Model Year  Origin                   Car Name
0        70.0     1.0  chevrolet chevelle malibu
1        70.0     1.0          buick skylark 320
2        70.0     1.0         plymouth satellite
3        70.0     1.0              amc rebel sst
4        70.0     1.0                ford torino
Pivot Table:
Model Year  70.0       71.0  72.0   73.0       74.0  75.0  76.0   77.0   78.0  \
Brand
amc         17.5  18.333333  16.0  15.75  16.333333  18.0  18.5    NaN  18.75
audi        24.0        NaN   NaN  20.00  29.000000  23.0   NaN    NaN  20.30
bmw         26.0        NaN   NaN    NaN        NaN   NaN   NaN  21.50    NaN
buick       14.5        NaN  13.0  12.50  13.000000  19.0   NaN  25.25  19.15
cadillac     NaN        NaN   NaN    NaN        NaN   NaN  16.5    NaN    NaN

Model Year   79.0   80.0  81.0  82.0
Brand
amc         23.80  24.30   NaN   NaN
audi          NaN  35.35   NaN   NaN
bmw           NaN    NaN   NaN   NaN
buick       22.65    NaN  24.5  25.0
cadillac    23.00    NaN   NaN   NaN
Top 5 Cars per Year:
   Model Year       Brand   MPG
0        70.0      datsun  27.0
1        70.0         bmw  26.0
2        70.0  volkswagen  26.0
3        70.0     peugeot  25.0
4        70.0        saab  25.0

/var/folders/h1/7lhgghr54qngtss004x01t3w0000gn/T/ipykernel_98930/3360963333.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_dataset.loc[:,'Displacement-to-Weight ratio'] = cleaned_dataset['Displacement'] / cleaned_dataset['Weight']
/var/folders/h1/7lhgghr54qngtss004x01t3w0000gn/T/ipykernel_98930/3360963333.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_dataset.loc[:,'Brand'] = cleaned_dataset['Car Name'].str.split().str[0]
/var/folders/h1/7lhgghr54qngtss004x01t3w0000gn/T/ipykernel_98930/3360963333.py:28: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  top_cars = brand_year.groupby('Model Year').apply(lambda x: x.nlargest(5, 'MPG')).reset_index(drop=True)